@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
    --cyan : hsl(179, 62%, 43%);
    --bright-yellow : hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: #fff;
    --fw-400: 400;
    --fw-700: 700;
    --font-family: 'Karla', sans-serif;
    --mg-0-5: .5rem;
    --mg-1: 1rem;
    --mg-1-5: 1.5rem;
    --mg-2: 2rem;
}