:root {
    --medium-gray: hsl(0, 0%, 81%);
    --light-purple: hsl(263, 55%, 52%);
    --medium-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --light-gray: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --fw-400: 500;
    --fw-700: 600;
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
    --mg-1: 1rem;
    --mg-1-5: 1.5rem;
    --mg-2: 2rem;
    --mg-0-5: 0.5rem;
}