.nav {
    @mixin circle($bg, $borderColor) {
        width: var(--mg-1);
        height: var(--mg-1);
        border: 1px solid $borderColor;
        border-radius: 50%;
        background-color: $bg;
    }

    color: var(--white);
    font-family: var(--font-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 13rem;

        &__circle {
            &__first {
                @include circle(var(--white), var(--white));
                z-index: 3;
            }

            &__second {
                @include circle(var(--orange), transparent);
                transform: translateX(-1rem);
                z-index: 1;
            }
        }
    }

    &__menu {
        display: flex;
    }

    &__link {
        padding: var(--mg-0-5);
        color: var(--white);
        position: relative;

        &::after {
            content: "";
            width: var(--mg-1);
            height: 1px;
            background-color: var(--orange);
            transition: .4s;
            position: absolute;
            inset: auto auto 0 var(--mg-0-5);
            display: none;
        }

        &:hover::after {
            display: block;
        }
    }

    &__right {
        display: flex;
        width: 16rem;
        justify-content: space-between;
        align-items: center;
    }

    &__icons {
        &__bell {
            position: relative;
            margin-left: var(--mg-0-5);

            &::after {
                content: "";
                position: absolute;
                inset: 0 .2rem auto auto;
                background-color: var(--orange);
                border-radius: 50%;
                width: .5rem;
                height: .5rem;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        width: 5rem;
        height: 2rem;
        border-radius: var(--mg-0-5);

        &__icon {
            background-color: var(--black);
            padding: 0 .4rem;
            border-radius: .4rem;
            margin-left: var(--mg-0-5);
        }

        & i {
            font-size: 1rem;
        }
    }

    &__profile {
        display: flex;
        align-items: center;

        &__img {
            width: var(--mg-2);
            height: var(--mg-2);
            border-radius: 50%;
            margin-right: var(--mg-0-5);
        }
    }
}