@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --dark-brown: hsl(25, 47%, 15%);
    --cream: hsl(27, 66%, 92%);
    --dark-orange: hsl(33, 100%, 98%);
    --white: #fff;
    --gray: gray;
    --mg-0-5: .5rem;
    --mg-1: 1rem;
    --mg-1-5: 1.5rem;
    --mg-2: 2rem;
    --font-family: 'DM Sans', sans-serif;
    --fw-700: 700;
    --fw-400: 400;
}