@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
:root {
  --bg: #090b1a;
  --card-bg: #1b1938;
  --soft-violet: #aa5cdb;
  --white: white;
  --main-p: rgba(255, 255, 255, 0.75);
  --stat-p: rgba(255, 255, 255, 0.6);
  --fw-400: 400;
  --fw-700: 700;
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Lexend Deca', sans-serif;
  --mg-0-5: .5rem;
  --mg-1: 1rem;
  --mg-1-5: 1.5rem;
  --mg-2: 2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--bg);
  padding: var(--mg-2);
  color: white;
}
