@media screen and (max-width: 768px) {
  .container::before {
    left: -15rem;
    height: 100vh;
  }
}

.container__mobile {
  background-color: var(--white);
  width: 250px;
  margin-inline: auto;
  height: 600px;
  border-radius: var(--mg-1);
  transform: translateY(4rem);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: var(--mg-0-5);
}

.container__mobile__profile {
  background-color: var(--moderate-violet);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  border-radius: var(--mg-1) var(--mg-1) 0.2rem 0.2rem;
}

.container__mobile__profile::before {
  content: "";
  width: 55%;
  background-color: var(--white);
  height: 2rem;
  position: absolute;
  inset: 0 auto auto 3.5rem;
  border-radius: 0 0 20px 20px;
}

.container__mobile__profile__left {
  margin-top: var(--mg-1-5);
  display: flex;
  align-items: center;
}

.container__mobile__profile__left i {
  color: var(--white);
  font-size: var(--mg-1-5);
  cursor: pointer;
}

.container__mobile__profile__left__Info {
  color: var(--white);
  font-size: .8rem;
}

.container__mobile__profile__left__Info__status {
  opacity: 80%;
}

.container__mobile__profile__left__avatar {
  width: var(--mg-2);
  height: var(--mg-2);
  border-radius: 50%;
  border: 1px solid var(--white);
  margin-right: var(--mg-0-5);
}

.container__mobile__profile__right {
  margin-top: var(--mg-1-5);
}

.container__mobile__profile__right i {
  color: var(--white);
  font-size: var(--mg-1-5);
  cursor: pointer;
}

.container__mobile__chat {
  background-color: var(--grayish-blue);
  display: flex;
  flex-direction: column;
}

.container__mobile__chat__card:nth-child(1), .container__mobile__chat__card:nth-child(2), .container__mobile__chat__card:nth-child(6) {
  background-color: var(--app-bg);
  color: var(--moderate-violet);
  padding: var(--mg-0-5);
  border-radius: var(--mg-0-5) var(--mg-0-5) var(--mg-0-5) 0.1rem;
  max-width: 25ch;
  font-size: var(--mg-0-5);
  margin: var(--mg-0-5);
}

.container__mobile__chat__card:nth-child(4), .container__mobile__chat__card:nth-child(5) {
  background-color: var(--white);
  color: var(--black);
  padding: var(--mg-0-5);
  border-radius: var(--mg-0-5) var(--mg-0-5) var(--mg-0-5) 0.1rem;
  max-width: 25ch;
  font-size: var(--mg-0-5);
  margin: var(--mg-0-5);
  border-radius: var(--mg-0-5) var(--mg-0-5) 0.1rem var(--mg-0-5);
  align-self: flex-end;
}

.container__mobile__chat__card:nth-child(7), .container__mobile__chat__card:nth-child(8) {
  background-color: var(--moderate-violet);
  color: var(--white);
  padding: var(--mg-0-5);
  border-radius: var(--mg-0-5) var(--mg-0-5) var(--mg-0-5) 0.1rem;
  max-width: 25ch;
  font-size: var(--mg-0-5);
  margin: var(--mg-0-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__mobile__chat__card:nth-child(7) div, .container__mobile__chat__card:nth-child(8) div {
  display: flex;
  align-items: center;
}

.container__mobile__chat__card:nth-child(7) span, .container__mobile__chat__card:nth-child(8) span {
  width: var(--mg-0-5);
  height: var(--mg-0-5);
  border: 2px solid var(--white);
  opacity: 70%;
  border-radius: 50%;
  display: inline-block;
  margin-right: var(--mg-0-5);
}

.container__mobile__chat__imgs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: var(--mg-0-5) 0.3rem;
  gap: var(--mg-0-5);
}

.container__mobile__chat__imgs img {
  border-radius: .5rem;
  width: 3rem;
  height: 3rem;
}
