.container{
    background-color: var(--violet);
    width: 100vw;
    background-repeat: no-repeat;
    color: var(--white);
    padding: var(--mg-1-5);
    &__logo{
        display: flex;
        align-items: center;
        &__text{
            font-family: var(--font-primary);
            font-weight: var(--fw-600);
            margin-left: var(--mg-0-5);
        }
    }
    &__content{
        margin-top: 3rem;
        &__text{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 23rem;
            text-align: center;
            &__title{
                font-family: var(--font-secondary);
                max-width: 20ch;
            }
            &__desc{
                font-family: var(--font-primary);
                max-width: 25ch;
            }
            &__btn{
                all: unset;
                font-family: var(--font-primary);
                padding: var(--mg-0-5) 3.5rem;
                background-color: var(--white);
                border-radius: var(--mg-2);
                color: var(--violet);
                cursor: pointer;
                &:hover{
                    background-color: var(--soft-magneta);
                    color: var(--white);
                }
            }
            &__social{
                width: 6rem;
                display: flex;
                justify-content: space-between;
                &__wrap{
                    display: inline-block;
                    padding: var(--mg-0-5);
                    width: var(--mg-1-5);
                    height: var(--mg-1-5);
                    border: 1px solid var(--white);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
        &__img{
            display: block;
            width: 15rem;
            margin-inline: auto;
        }
    }
}