.container {
  box-shadow: var(--bx-shadow);
  overflow: hidden;
}

.container__content {
  padding: var(--mg-1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.container__hero {
  max-width: 100%;
  height: auto;
}

.container__description {
  max-width: 30ch;
  text-align: center;
}

.container__plan {
  background-color: var(--light-blue);
  width: 100%;
  border-radius: var(--mg-0-5);
  padding: var(--mg-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__plan__content {
  display: flex;
}

.container__plan__text {
  display: flex;
  flex-direction: column;
  margin-left: var(--mg-1);
}

.container__plan__price {
  color: var(--medium-blue);
}

.container__plan__btn {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.container__plan__link:hover {
  text-decoration: none;
}

.container__btn {
  all: unset;
  padding: var(--mg-1) var(--mg-1-5);
  background-color: var(--bright-blue);
  border-radius: var(--mg-0-5);
  color: var(--white);
  cursor: pointer;
}

.container__action {
  color: var(--medium-blue);
  cursor: pointer;
}

.container__action:hover {
  color: var(--black);
}
