.nav {
    margin-block: var(--mg-1);
    display: flex;
    justify-content: space-between;
    &__logo {
        cursor: pointer;
        &__link {
            color: var(--dark-blue);
            font-weight: 700;
            font-size: var(--mg-1-5);
        }
    }
    &__theme {
        display: flex;
        align-items: center;
        &__status {
            margin-right: var(--mg-1-5);
            letter-spacing: .2rem;
            font-weight: 400;
            color: var(--dark-blue);
        }
        &__icon {
            cursor: pointer;
        }
    }
}