@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --gray: gray;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;
    --mg-0-5: .5rem;
    --mg-1-5: 1.5rem;
    --mg-1: 1rem;
    --mg-2: 2rem;
    --f500-weight: 500;
    --f700-weight: 700;
}